<div data-reload="true" data-role="view" data-title="Bewerk" data-model="app.home.editItemViewModel" data-bind="events: { show: onShow }" id="homeModelEditItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title">Edit</span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onBackClick }">Annuleren</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Opslaan</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <div id="editableListForm11" class="form-view" style="font-size:110%;">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <p class="editableListItem">
                        <label><span>Bonnummer</span>
                            <span data-bind="text: itemData.bonnr"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Datum</span>
                            <span data-bind="text: itemData.datum"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Gewicht</span>
                            <span style="width:100px;" align="right" data-format="####0 kg" data-bind="text: itemData.inweging"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Quotum</span>
                            <span style="width:100px;" align="right" data-format="####0 kg" data-bind="text: itemData.quotum"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Postcode</span>
                            <span data-bind="text: itemData.postcode"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Plaats</span>
                            <span data-bind="text: itemData.plaats"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Gemeente</span>
                            <span data-bind="text: itemData.gemeente"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Straat</span>
                            <span data-bind="text: itemData.straat"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Categorie</span>
                            <span data-bind="text: itemData.afval_type"></span>
                        </label>           
                  	</p>
                    <p class="editableListItem">
                        <label><span>Kilogram tarief</span>
                            <span data-format="c4" data-bind="text: itemData.afval_prijs"></span>
                        </label>           
                  	</p>
                </li>
            </ul>
            <ul data-role="listview" >
                <li>
                    <p class="editableListItem">
                        <select height="auto" 
                                style="left: 10px; width:90%; margin:0,5%,0,5%;" data-value-field="afval_id" 
                                data-text-field="afval_omschr" 
                                data-role="dropdownlist" 
                                data-bind="source: homeModel.afvalcodes, 
                                           value: itemData.afval, 
                                           events: { select: onSelect, 
                                                     change: onChange }"
                        >
                        </select> 
                  	</p>
				</li>
            </ul>
            <ul data-role="listview" data-style="inset">
                <li data-bind="visible: PrijsNieuw">
                	<p class="editableListItem">
                        <label><span style="color:red">Nieuw kilogram tarief</span>
                            <span style="color:red" data-format="c4" data-bind="text: fldPrijsNieuw"></span>
                        </label>           
                  	</p>
				</li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm11 -->
        <script type="text/javascript">
			var afval_typeList = [
                { afval_type: "C1" },
                { afval_type: "C2" },
                { afval_type: "C3" }
            ];
    
            $(document).ready(function(){

         }); 
        </script>
        <!-- END_CUSTOM_CODE_editableListForm11 -->
	</div>	
</div>