<div id="appSettings" data-model="app.home.settingsViewModel" data-reload="true" data-role="view" data-title="Update data">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title">Bestand</span>
            <a data-role="backbutton" data-align="left">Cancel</a>
        </div>
    </header>

    <footer data-role="footer">
        <div data-role="tabstrip">
            <a class="k-button" data-icon="downloads" data-role="button" data-bind="click: readFile">Lees bestand</a>
        </div>
    </footer>    
    
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <div id="settingsForm" class="form-view" style="font-size:110%;">
        <form>
          	<div>
                <ul class="fieldlist" style="padding-left: 10px;" data-style="inset">
                    <input type="file" id="file" name="myfile">
                    <input type="input" data-bind="value:bestand" class="k-textbox" style="width:300px;">
                </ul>
		    </div>
            <div id="footer" class="center">
                  <!--img src="styles/icons/gmt.png" style="padding-top: 120px;"-->
            </div>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm11 -->
        <style>
            .center {
                margin: auto;
                width: 70%;
                padding: 0px;
                bottom:80px;
            }
        </style>
        <!-- END_CUSTOM_CODE_editableListForm11 -->
	</div>	
    <script>
        $(document).ready(function(){
            $(":file").css("background-color", "red");
        });
    </script>
</div>
