<div data-role="view" data-title="Wegingen" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" data-stretch="true">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_home -->
    <header data-role="header">
        <div data-role="navbar">
            <span id="title" data-role="view-title"></span>
            <a data-align="right" data-icon="settings" data-role="button" class="nav-button" href="components/home/settings.html"></a>
        </div>
    </header>
    <footer data-role="footer">
        <div data-role="tabstrip">
            <a id="btnBadge" data-role="button" data-badge="0" data-bind="click: homeModel.gotoSearch" data-icon="search">Zoek</a>
            <a data-role="button" data-bind="click: homeModel.refresh" data-icon="refresh">Ververs</a>
            <a data-role="button" data-bind="click: homeModel.scanBack" data-icon="camera">Scan Barcode</a>
        </div>
    </footer>
    <div id="scroller" data-role="scroller">
		<a name="top" id="top"></a>
        <ul id="listview"
            data-role="listview"
            data-filter="true"
            data-filterable="{field: 'search', operator: 'contains', placeholder: 'Zoek...', id: 'search'}",
            data-style="inset" 
            data-template="homeModelTemplate" 
            data-bind="{ source: homeModel.wegingDataSource, events: {click: homeModel.itemClick}}" 
            data-auto-bind="false"
            _data-pull-to-refresh="true" 
            data-endless-scroll="false">
        </ul>
    </div>

    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_homeModel -->

    <script type="text/x-kendo-template" id="homeModelTemplate">
        <a>
            <div class="image-with-text" style="color:red;">
            <h3>#: data['bonnr'] # #if(special){# <img src="styles/icons/warning.png" style="width: 17px;">#}# </h3>
            </div>
            <p class="editableListItem">
                <span style="width: auto">#: data['postcode'] # #= data['plaats'] # </span>
                <span style="position: absolute; right: 0px; margin-right:10px;width: 40px;">#: data['afval_type'] #</span>
            </p>
            <p class="editableListItem" >
                <span style="width: auto;">#= data['afval_omschr'] #</span>
            </p>
        </a>
    </script>
</div>

<script>
    $(document).ready(function() {
    });
</script>