<div data-role="view" data-title="Telefoonnummer lijst" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" data-stretch="true">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_home -->
    <header data-role="header">
        <div data-role="navbar">
            <span id="title" data-role="view-title"></span>
            <a data-align="right" data-icon="downloads" data-role="button" class="nav-button" href="components/home/settings.html"></a>
        </div>
    </header>
    <!--footer data-role="footer">
        <div data-role="tabstrip">
            <a id="btnBadge" data-role="button" data-badge="0" data-bind="click: homeModel.gotoSearch" data-icon="search">Zoek</a>
            <a data-role="button" data-bind="click: homeModel.refresh" data-icon="refresh">Ververs</a>
            <a data-role="button" data-bind="click: homeModel.scanBack" data-icon="camera">Scan Barcode</a>
        </div>
    </footer-->
    <div id="scroller" data-role="scroller">
		<a name="top" id="top"></a>
        <ul id="listview"
            data-role="listview"
            data-filter="true"
            data-filterable="{field: 'Search', operator: 'contains', placeholder: 'Zoek...', id: 'search'}",
            data-style="inset" 
            data-template="homeModelTemplate" 
            data-bind="{source: homeModel.dataSource}" 
            data-auto-bind="false"
            data-endless-scroll="false">
        </ul>
    </div>

    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_homeModel -->

    <script type="text/x-kendo-template" id="homeModelTemplate">
        <a>            
            <h3>#: data['Groep'] # </h3>
            <p class="editableListItem" >
                <span style="width: auto;">#: data['Omschrijving'] #</span>
            </p>
            <div class="image-with-text">
                #if(Favoriet === "1"){# <a id="#: data['Telefoonnummer'] #" data-align="right" data-role="button" data-icon="favorites" data-bind="click: homeModel.delFavo"></a> #}#
                #if(Favoriet === "0"){# <a id="#: data['Telefoonnummer'] #" data-align="right" data-role="button" data-icon="add" data-bind="click: homeModel.addFavo"></a> #}#
                <a data-align="right" data-role="button" data-icon="phone" data-bind="click: homeModel.phoneCall" class="button button-positive">#: data['Telefoonnummer'] #</a>
            </div>
        </a>
    </script>
</div>

<script>
    $(document).ready(function() {
    });
</script>